$text-hard: #eee;
$text-soft: #ccc;
$text-dark: #aaa;
$background: #30363d;
$back-top: #3c444d;

$white: #fff;
$green: #1aaa55;
$orange: #fc9403;
$red: #db3b21;
$cyan: #73bfb8;
$blue: #2e87e0;
$magenta: #b48ead;
$violet: #9b51e0;
$yellow: #f2c94c;
$grey: #828282;
$black: #000;

$top-bar-transparency: 0.2;


$review-color: #3da5d9;
$merge-color: #73bfb8;

$color-default: #828282;
$color-success: #1aaa55;
$color-failed: #db3b21;
$color-warning: #fc9403;
$color-manual: #9b51e0;
$color-running: #2e87e0;
$color-canceled: #f2c94c;
$color-skipped: #bdbdbd;


::-webkit-scrollbar {
	display: none;
}

@keyframes rise {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		opacity: 0.3;
	}
	to {
		opacity: 1;
	}
}

body {
	color: $text-dark;
	margin: 0;
	position: relative;
	min-height: 100vh;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	background-color: $background;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.background-image {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;

		background: url("background.jpg") no-repeat center;
		background-size: cover;

		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(5px);
	}

	a, a:link, a:visited {
		text-decoration: none;
	}

	.top-bar {
		top: 0;
		left: 0;
		right: 0;
		height: 50px;
		z-index: 20;
		display: flex;
		padding: 15px;
		position: absolute;
		font-size: 12px;
		flex-wrap: nowrap;
		background-color: $back-top;
		-webkit-box-shadow: 0 2px 10px 0 $black;
		-moz-box-shadow: 0 2px 10px 0 $black;
		box-shadow: 0 2px 10px 0 $black;
		align-items: center;
		flex-direction: row;
		justify-content: center;

		-webkit-filter: none;
		-moz-filter: none;
		-o-filter: none;
		-ms-filter: none;
		filter: none;

		* {
			color: $text-hard;
			margin: 5px;
			z-index: 30;
			border: 2px solid;
			padding: 8px;
			transition: 0.25s ease;
			border-radius: 3px;
			text-decoration: none;

			&:hover {
				color: $text-hard;
				transition: 0.25s ease;
				text-decoration: none;
			}
		}
	}

	.wrapper {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		position: absolute;
		align-content: center;
		flex-direction: column;
		justify-content: center;

		> * {
			padding: 2rem;
		}

		.greeting {
			color: $text-dark;
			font-size: 5em;
			text-align: center;

			&::before {
				content: '「';
			}
			&::after {
				content: '」';
			}
		}

		.time {
			color: $text-hard;
			font-size: 6em;
			text-align: center;
		}

		.icon-bar {
			color: $text-dark;
			position: center;
			font-size: 24px;
			text-align: center;

			* {
				width: 45px;
				margin: 5px;
				height: 45px;
				color: $background;
				transition: 0.25s ease;
				line-height: 45px;
				border-radius: 100px;

				&:hover {
					filter: opacity(0.8);
				}
			}
		}
	}

	.date {
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		display: flex;
		font-size: 3em;
		text-align: center;
		position: absolute;
		align-items: center;
		padding-bottom: 0;
		flex-direction: row;
		justify-content: space-around;

		* > span {
			font-size: 2em;
			font-weight: bold;
		}

		.year::after {
			content: ' 年';
		}

		.month::after {
			content: ' 月';
		}

		.day::after {
			content: ' 日';
		}

		.dayOfWeek {
			&::before {
				content: '【';
			}
			&::after {
				content: '】';
			}
		}
	}
}

.hidden, #scrips {
	display: none;
}

// Colors
.top-bar {
	.orange {
		border-color: $orange;
		&:hover {
			background-color: $orange;
		}
	}

	.red {
		border-color: $red;
		&:hover {
			background-color: $red;
		}
	}

	.violet {
		border-color: $violet;
		&:hover {
			background-color: $violet;
		}
	}

	.magenta {
		border-color: $magenta;
		&:hover {
			background-color: $magenta;
		}
	}

	.blue {
		border-color: $blue;
		&:hover {
			background-color: $blue;
		}
	}

	.cyan {
		border-color: $cyan;
		&:hover {
			background-color: $cyan;
		}
	}

	.green {
		border-color: $green;
		&:hover {
			background-color: $green;
		}
	}

	.yellow {
		border-color: $yellow;
		&:hover {
			background-color: $yellow;
		}
	}
}

.icon-bar {

	.green {
		background-color: $green;
	}

	.orange {
		background-color: $orange;
	}

	.red {
		background-color: $red;
	}

	.cyan {
		background-color: $cyan;
	}

	.blue {
		background-color: $blue;
	}

	.magenta {
		background-color: $magenta;
	}

	.violet {
		background-color: $violet;
	}

	.yellow {
		background-color: $yellow;
	}
}
